@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #ff8dcb;
    --secondary-accent-color: #353430;
    --text-color: #353430;
    --title-text-color: #353430;
    --heading-font-color: #ffc2e6;
    --page-bg-color: #fff1f7;
    --theme-button-hover-border: rgba(53 52 48 / 0.4);
    --page-bg-image: url('../images/cover-image-light.png');
  }

  .header__rec-decor {
    display: none;
  }
}

:root.theme-light {
  --accent-color: #ff8dcb;
  --secondary-accent-color: #353430;
  --text-color: #353430;
  --title-text-color: #353430;
  --heading-font-color: #ffc2e6;
  --page-bg-color: #fff1f7;
  --theme-button-hover-border: rgba(53 52 48 / 0.4);
  --page-bg-image: url('../images/cover-image-light.png');
}

.theme-light .header__rec-decor {
  display: none;
}
