:root {
  --font-family: 'IBM Plex mono', monospace;
  --font-size-main: 1.125rem; /* 18px */
  --line-height-main: 1.3;

  --accent-color: #ff0070;
  --secondary-accent-color: #ff0070;
  --text-color: #f1b2ce;
  --title-text-color: #000028;
  --heading-font-color: #db00ff;
  --page-bg-color: #000028;
  --theme-button-hover-border: rgb(255 0 112 / 0.4);

  --page-bg-image: url('../images/cover-image-dark.png');
}